html{
  background-color: black;
}


header{

background-color: black;

font-family: Arial, Helvetica, sans-serif;

height: 100px;
padding-left: 50px;
padding-right: 50px;

background-image: url("digiart.jpg");
background-size: cover;
background-position: center;


}
.App{
  background-image: url("digiart.jpg");
  background-size: cover;
  background-position: center;
}

header h1{
color: rgb(255, 255, 255);
text-align: center;
padding-top: 30px;
padding-left: 230px;
font-family: Georgia, 'Times New Roman', Times, serif;
}

body body {

  background-image: url("digiart.jpg");
  background-size: cover;
  background-position: center;
  
}

body body ul{

padding-top: 100px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.userid{

  float: right;
padding-top: 30px;
color: white;
font-family: Arial, Helvetica, sans-serif;
font-size: larger;


}



#row1 {

  padding-top: 130px;
}

#home_button{
  padding-top: 30px;
float: right;




}

#ul1 p {

text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: larger;


}


#ul2 p {

  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  

}

#ul3 p {


  text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: larger;

}


#letsgo{
text-align: center;

}